.card3{
  display: flex;
  width: 342px;
}

.the1{
  width: 40px;
  height: 40px;
  background: url(../img/logo/a20193f6cf32dfb52acae4343fc85e4c.jpg);
  background-size: cover;
  background-position: center;
  margin: 5px;
}

.v{
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.v i{
  color: aliceblue;
}

.tieu-de{
  font-size: 13px;
  margin: auto 10px;
}

.tieu-de p {
  margin: 0;
}

.tieu-de h4{
  margin: 0;
}

.hinh2{
  display: flex;
  align-items: center;
  opacity: 0;
}

.hinh2 img{
  width: 20px;
  height: 20px;
  margin-left: 80px;
  margin-right: 10px;
}

.card3:hover .v{
  opacity: 1;
}
.card3:hover .hinh2{
  opacity: 1;
}

.hinh2 p{
  font-size: 12px;
  border: solid black 1px;
  margin: 30px 0 0 0;
  padding: 3px 5px;
  background-color: white;
  opacity: 0;
}

.hinh2 i:hover ~ p{
  opacity: 1;
}

.bang-xep-hang{
  display: flex;
}

.danhsach1{
  margin: 0 auto;
  padding-left: 5px;
}