.d{
  display: flex;
}

.card{
  width: 50px;
  height: 50px;
  background: url(../img/logo/a20193f6cf32dfb52acae4343fc85e4c.jpg);
  background-size: cover;
  background-position: center;
  margin: 5px;
}

.v{
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.v i{
  color: aliceblue;
}

.card1{
  font-size: 13px;
  margin: auto 10px;
}

.card1 p {
  margin: 0;
}

.card1 h4{
  margin: 0;
}

.card2{
  display: flex;
  align-items: center;
  opacity: 0;
}

.card2 img{
  width: 20px;
  height: 20px;
  margin: 0 15px;
}



.d:hover .v{
  opacity: 1;
}
.d:hover .card2{
  opacity: 1;
}