.card{
  width: 160px;
  height: 160px;
  background-image: url(https://picsum.photos/id/237/200/300);
  background-size: cover;
  background-position: center;
  margin: 20px 8px;
}

.list-card{
  display: flex;
}

.card i {
  color: aliceblue;
  display: flex;
  justify-content: center;
  line-height: 170px;
  opacity: 0;
}

.card i:hover{
  opacity: 1;
  transform: scale(1.2);
  transition: 0.8s;
}

.card:hover{
  opacity: 0.95;
}