.thanh{
  width: 980px;
  height: 60px;
  background: url(../img/logo/0ba3d60362c7e6d256cfc1f37156bad9.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin: 25px auto;
  border-radius: 2px;
  
}

.phantu{
  display: flex;
  align-items: center;
}

.phantu img {
  width: 50px;
  margin: 0 10px;
}

.phantu p{
  color: aliceblue;
  margin: 0 10px;
}

.phantu button{
  height: 30px;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(250, 200, 0);
  border: none;
  color: #fff;
  border-radius: 5px;
  margin: 0 10px;
}