
.button{
  text-decoration: none;
}

body{
  height: 2000px;
}

.head{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.table tr th{
  padding-right: 80px;
  padding-left: 10px;
}

.table tr td{
  padding-left: 10px;
  padding-bottom: 7px;
}
.table{
  margin-top: 15px;
  border: solid #5d495d 1px;
  font-family: 'Source Sans Pro', sans-serif;
  display: none;
  background-color: white;
}

.drop{
  position: relative;
}

.drop:hover .table{
  display: block;
  position: absolute;
}

.table:hover{
  display: block;
  position: absolute;
}

.drops tr td{
  padding-right: 20px;
}