.b{
  width: 320px;
  height: 140px;
  background-image: url(../img/logo/spotlight-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

body{
  background-color: darkgrey;
}

.a{
  margin: 50px;
}

.d img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.d img:hover{
  transform: scale(1.1);
  transition: 1s;
}

.d{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-left: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.c{
  display: flex;
  align-items: center;
}

.e{
  text-align: center;
  height: 23px;
  width: 130px;
  background: linear-gradient(to right,#f508b7,#9102ff);
  margin-left: 40px;
  border-radius: 4px
}
.e a h3{
  margin: 0;
  margin-top: 10px;
}

.e a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
}

.e a:hover{
  color: #b991dd;
}

.e i{
  font-size: 11px;
  color: aliceblue;
  margin: auto 0;
}