.b{
  width: 320px;
  height: 140px;
  background-image: url(../img/logo/spotlight-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;

}

body{
  background-color: darkgrey;
}

.a{
  margin: 50px;
}

.c img{
  width: 120px;
  border-radius: 100%;
  margin-left: 15px;
}

.c{
  display: flex;
  align-items: center;
}

.e{
  text-align: center;
  height: 20px;
  width: 130px;
  background-color: blueviolet;
  margin-left: 40px;
  border-radius: 4px
}

.e i{
  font-size: 11px;
  color: aliceblue;
}