.slider{
  display: flex;
  position: relative;
  width: 200%;
  margin: 0;
  left: 0;
  animation: 10s slider infinite;
}

@keyframes slider{
  0%{
    left: 0;
  }
  25%{
    left: 0;
  }
  50%{
    left: -100%;
  }
  75%{
    left: -100%;
  }
  100%{
    left: 0;
  }
}
