.bodyphantu{
  width: 320px;
  height: 140px;
  background-image: url(../img/logo/spotlight-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hinh1 img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.hinh1 img:hover{
  transform: scale(1.1);
  transition: 1s;
}

.hinh1{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-left: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.phantu1{
  display: flex;
  align-items: center;
}

.icon1{
  text-align: center;
  height: 23px;
  width: 130px;
  background: linear-gradient(to right,#f508b7,#9102ff);
  margin-left: 40px;
  border-radius: 4px
}
.icon1 a h3{
  margin: 0;
  margin-top: 10px;
}

.icon1 a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
}

.icon1 a:hover{
  color: #b991dd;
}

.icon1 i{
  font-size: 11px;
  color: aliceblue;
  margin: auto 0;
}

.nghesi{
  display: flex;
}

.slider1{
  margin: 10px;
}

.danhsachnghesi{
  width: 1024px;
  overflow: hidden;
}