.card1{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card1 div img{
  width: 242px;
  height: 60px;
  
}

.card1 div{
  width: 300px;
  height: 70px;
  padding: 12px;
  border-radius: 1px;
  box-sizing: border-box;
  overflow: hidden;
}

.card1 img:hover{
  transform: scale(1.1);
  transition: 1s;
}