.danhsach{
  display: flex;
  font-size: 15px;
}

.card{
  margin-right: 26px;
}

.the{
  width: 180px;
  height: 180px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 15px auto;
}
.hinh{
  width: 180px;
  height: 180px;
}
.icon{
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.icon i {
  color: aliceblue;
}

.hinh:hover .icon{
  transform: scale(1);
}

.hinh:hover .icon{
  opacity: 1;
}
.hinh:hover{
  transform: scale(1.08);
  transition: 1s;
}

.a{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/d/0/0/8/d008801b7b3fdd998a84461b41c53294.jpg);
  background-position: center;
  background-size: cover;
}

.a1{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/4/0/424096d40d9b83aa546364d315b07cb3.jpg);
  background-position: center;
  background-size: cover;
}

.a2{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/6/3/5/7635d3675861a2f9fd1b40565a6a7cc3.jpg);
  background-position: center;
  background-size: cover;
}

.a3{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/e/2/5/3/e25366c738d1532ee008d7361fae7f5f.jpg);
  background-position: center;
  background-size: cover;
}

.a4{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/9/1/7/a/917a00763797584ccf7e457f7d8ff4e3.jpg);
  background-position: center;
  background-size: cover;
}

.a5{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/b/b/4/d/bb4d05a07701730462847acabc746bc8.jpg);
  background-position: center;
  background-size: cover;
}

.a6{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/7/8/7/4787263cd375fa7a2f986423c553dfd9.jpg);
  background-position: center;
  background-size: cover;
}

.a7{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/b/3/e/e/b3ee3ed0274c147827047eb57d6e5519.jpg);
  background-position: center;
  background-size: cover;
}

.a8{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/0/a/5/1/0a51463a2298ac6280d34cbefacb402b.jpg);
  background-position: center;
  background-size: cover;
}

.a9{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/2/c/a/32cae20ec6bf3a41abf87ef561a10eed.jpg);
  background-position: center;
  background-size: cover;
}

.a10{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/0/d/8/b/0d8b601b457e4d5b16393d467f625e2d.jpg);
  background-position: center;
  background-size: cover;
}

.a11{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/9/0/1/2/90128d9f5b3134c528b987337bb37dfe.jpg);
  background-position: center;
  background-size: cover;
}

.a12{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/d/2/2/7/d227b6f42ebab296928e730520220bc1.jpg);
  background-position: center;
  background-size: cover;
}

.a13{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/2/7/3/8/27382453c8d958dd46cd5f743e6d79ac.jpg);
  background-position: center;
  background-size: cover;
}

.a14{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/3/f/3/e/3f3e554a04b1d356e68c825222155e75.jpg);
  background-position: center;
  background-size: cover;
}

.a15{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/d/9/7/3/d973b14edbd6850919c6c4c61bcbc6f6.jpg);
  background-position: center;
  background-size: cover;
}

.a16{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/a/5/d/7/a5d752791c411264e0816883e1e532de.jpg);
  background-position: center;
  background-size: cover;
}

.a17{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/e/d/0/2/ed02380325ce8fb49fd40bb9d967c0d1.jpg);
  background-position: center;
  background-size: cover;
}

.a18{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/d/b/0/8/db08e3dfca2b3b24dc84eeda62418dff.jpg);
  background-position: center;
  background-size: cover;
}

.a19{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/c/a/9/6/ca968bcd2486e8f6400e8ab201e97e5d.jpg);
  background-position: center;
  background-size: cover;
}

.a20{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/d/a/5/c/da5c5e38623fb0b8ab115e469aad3f27.jpg);
  background-position: center;
  background-size: cover;
}

.a21{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/a/e/5/d/ae5df6f502616b352229dfb0d3c3c359.jpg);
  background-position: center;
  background-size: cover;
}

.a22{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/6/1/6/e/616e8a68399303bc16c11aa6d6720e58.jpg);
  background-position: center;
  background-size: cover;
}

.a23{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/f/b/2/ffb250a9b008193fc4b06c292e9f4486.jpg);
  background-position: center;
  background-size: cover;
}

.a24{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/8/4/d/f84de59da17dab6e057a9c3327dd001f.jpg);
  background-position: center;
  background-size: cover;
}

.a25{
  background: url(https://photo-playlist-zmp3.zadn.vn/radio?src=HavwqN7EzbiAHZUTDj-sJ41NDyisZxOQ35ChdpEBv4mELNEOOOo_7WbMTPSoZUmMMGTsm6RRxLvLG2JC88d-6G4MSfDwjhJWa3uw4mfi-iHpmZbMVG&size=thumb/240_240);
  background-position: center;
  background-size: cover;
}

.a26{
  background: url(https://photo-playlist-zmp3.zadn.vn/radio?src=HavwqN7EzbiAHZUTDj-sI401DvisqxPEMbiXcZA3k4jR3YJ8PuU-6WjT89mtqxTA3Lf_cs21imLJ6dgN9jEWGWTCBCXyv6F3Z2-PjMKbZ9fIgG9-OwCMSHe6Us5l8dq&size=thumb/240_240);
  background-position: center;
  background-size: cover;
}

.a27{
  background: url(https://photo-playlist-zmp3.zadn.vn/radio?src=HavwqN7EzbiAHZUTDj-sJq0DDvasXRPBLWXxoss1jqbHMdsRQT3gJmCFSSq-rEbDLLqao6ZNlLPRJ7J4BeMk4GyQ8fjqkUr23G8hCUwTfSbnrsLRVG&size=thumb/240_240);
  background-position: center;
  background-size: cover;
}

.a28{
  background: url(https://photo-playlist-zmp3.zadn.vn/radio?src=HavwqN7EzbiAHZUTDj-sJ40DDvusWhPFLWjyd6lGi1jJ0odEFeooI0O2APrdZR5B2m9xpcAAiL1H4NZ29DYY5mL7Bfr-xUaDuvQc1XaKAFk3K-WZ-dpMLHDsmqOflI0rqp-i-0&size=thumb/240_240);
  background-position: center;
  background-size: cover;
}

.a29{
  background: url(https://photo-playlist-zmp3.zadn.vn/radio?src=HavwqN7EzbiAHZUTDj-s6q02DyqstRPBML0iosQ3j4W63IgTRTNY505RU91irkL430vzp3RSi585Htd0S8wZ5L4HBvyggU10KmCWc2ghvkx38MW8Ut57c6poAeWYVG&size=thumb/240_240);
  background-position: center;
  background-size: cover;
}

.a30{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/d/5/3/7d53d5a113441f171c6cadefb03b7525.jpg);
  background-position: center;
  background-size: cover;
}

.a31{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/5/4/9/f549dd1ea812f87233038b5be9f83430.jpg);
  background-position: center;
  background-size: cover;
}

.a32{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/8/f/d/f8fdaec12e02f671f7b56113c11b462f.jpg);
  background-position: center;
  background-size: cover;
}

.a33{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/1/6/c/f/16cfc47d9d5c00b082dd6a6173135a3e.jpg);
  background-position: center;
  background-size: cover;
}

.a34{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/f/c/0/9/fc09fbbb3cd5e2c43ffc65ba383ef4ce.jpg);
  background-position: center;
  background-size: cover;
}

.a35{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/9/a/0/49a03953ffe094fbdc090b47f9659062.jpg);
  background-position: center;
  background-size: cover;
}

.a36{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/1/d/2/6/1d269d96ce36ba57414da321b845f16e.jpg);
  background-position: center;
  background-size: cover;
}

.a37{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/c/8/c/4c8ca48f0658b7c8627c80245f2f9c4b.jpg);
  background-position: center;
  background-size: cover;
}

.a38{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/9/b/6/8/9b68b50ccf809757029ed7a9f29c7cc4.jpg);
  background-position: center;
  background-size: cover;
}

.a39{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/1/1/8/3/11835ec64859d3d616519d2c7159ad8c.jpg);
  background-position: center;
  background-size: cover;
}

.a40{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/0/a/0/7/0a07188481a1d3b5a8b151f8a3294835.jpg);
  background-position: center;
  background-size: cover;
}

.a41{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/7/4/c/2/74c242740127c09ee89df038a56f5fa1.jpg);
  background-position: center;
  background-size: cover;
}

.a42{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/e/0/4/0/e0409f3e0ad757e9542695a29a0c2d60.jpg);
  background-position: center;
  background-size: cover;
}

.a43{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/e/d/5/2/ed523c102dfd4bf99930ceecd4814c75.jpg);
  background-position: center;
  background-size: cover;
}

.a44{
  background: url(https://photo-resize-zmp3.zadn.vn/w480_r1x1_jpeg/cover/4/2/6/f/426f70ed262e2bf0a7289216ec636559.jpg);
  background-position: center;
  background-size: cover;
}

.xephang{
  margin-top: 30px;
}

.xephang img{
  width:1005px;
  height: 343px;
}