.menu-list{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.menu-list li{
  padding: 15px 10px;
}

.head{
  border-bottom: solid;
  border-width: 0.5px;
  border-color: darkgray;
}

.menu-list{
  margin: 0;
}

.body{
  width: 1000px;
  margin: 0 auto;
}
.icon-menu i{
  margin: auto 20px;
}
.icon-menu {
  margin: auto 20px;
}

.menu-list i{
  display: none;
}

.button-menu{
  margin: auto 20px;
}

#r{
  display: none;
}