.menu-search{
    display: flex;
    margin: 0 auto;
}
.menu-search a img {
    height: 30px;
}

.drop-menu{
    list-style: none;
    display: flex;

}

.drop-menu li{
    padding: 10px;
}

.search{
    display: flex;
    border: 1px solid #7e8388;
    border-radius: 1px;
    height: 42px;
    width: 583px;
}

.search form input {
    border: none;
    align-self:center;
    height: 40px;
    width: 540px;
}

.search i {
    margin: 14px 10px;
}
